<!--<div>{{ $ctrl.message }}</div>-->
<h1>Tasks List</h1>
<a class="btn btn-primary" href="#/create">Add task</a>


    <input type="text"
           name="taskFilter"
           class="form-control"
           placeholder="filter 4 tasks"
           ng-model="query"/>




<ul>
    <li ng-repeat="task in $ctrl.tasks | filter:query">
        <a href="#/task/{{ $index }}">{{task.name}}</a>
    </li>
</ul>
<hr>
<h4>1.Currency: {{ 1234 | currency}}</h4>
<h4>2.Date: {{ 14342112311 | date: 'dd.MM.yyyy'}}</h4>
<h4>3.Number: {{ 1234 | number:3}}</h4>
<h4>4.Json: <pre> {{ {"text":"text", "texttexttext":"texttext"} | json}}</pre></h4>